.all-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    padding: 10px 20px;
    margin: 0 10px;
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 3px;
    border:2px solid black;
    cursor: pointer;
}
.slider{
    width: 80vw;
    margin: 10px auto;
    overflow: hidden ;
}
.slider img{
    margin: 10px auto;
    width: 80vw;
    height: 65vh;
}